.fa-hand-wave {
    margin-left: 225px;
    margin-top: 10px;
}

.html {
    width: 500px;
    height: 320px;
    margin: auto;
    background-color: rgb(74, 255, 234);
}

h1 {
    margin: auto;
    margin-top: 20px;
    margin-top: 20px;
    width: 100px;
    height: 150px;
}

hr {
    margin-top: -60px;
}

.fa-laptop-file {
    width: 400px;
    height: 15px;
    margin-left: 10px;
}

.fa-golf-ball-tee {
    color: red;
    width: 15px;
    height: 15px;
    margin-left: 10px;
}

.fa-laptop-file {
    width: 20px;
    height: 15px;
    color: blueviolet;
}

.div1 {
    margin-top: 20px;
}

button {
    margin-top: 100px;
    margin: auto;
    width: 100px;
    height: 30px;
}

.sen {
    margin-left: 140px;
}

.men {
    margin-left: 30px;
    background-color: blue;
}

.html2 {
    margin: auto;
    width: 190px;
    height: 20px;
}

.h4 {
    margin-top: -15px;
    margin-left: 40px;
}

.h5 {
    margin-top: -20px;
    margin-left: 30px;
}